.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
    -webkit-overflow-scrolling: touch; 
    max-width: 800px; 
    margin: 0 auto;
}
.content-container::-webkit-scrollbar {
    display: none;
}

.content-container h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: hwb(12 38% 7%);
}

.content-container p {
    font-size: 1rem;
    color: #B5E2F2;
    width: 50%;
}

.content-container li {
    color: #B5E2F2;
}